
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;    

}

/* AQUI INICIA CSS PARA NUESTRO HEADER*/

header{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #7B91DF 0%, rgba(242, 192, 201, 0) 100%);
    background-blend-mode: normal, darken;
    box-shadow: inset 0px 4px 4px rgba(255, 51, 252, 0.8);
    
   
   
    padding: 10px;
    
}

.caja{
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}


/*boton busqueda*/


.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  
  .search-box input {
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 20px;
  }
  
  #search-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  #search-btn:hover {
    background-color: #0a0a0a95;
  }
  
  #search-btn:active {
    background-color: #005cbf;
  }

  /*finaliza boton busqueda*/
  
  /*Empieza el css resgistro y login*/

  .regis-login{

  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;  
  background-color: #f3f5f35f;
  border-radius: 5px;
  margin: 0 10px;

}
.re{
    text-decoration: dashed;
    text-transform: uppercase;
    font-variant: small-caps;
    text-shadow: 10px 5px 10px #d8d8e0;
    font-weight: 1000;
}

.regis-login:hover{
    background-color: #d9c8fd45;
}

/*Finaliza el css resgistro y login*/

nav{
    position: absolute;
    top: 90px;
    right: 10px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #f9fc44;
}

/* AQUI INICIA CSS PARA NUESTRO FOOTER*/

footer{
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #7B91DF 0%, rgba(242, 192, 201, 0) 100%);
    background-blend-mode: normal, darken;
    border: 1px solid #F2C0C9;
    box-shadow: inset 0px 4px 4px rgba(255, 51, 252, 0.8);
    padding: 40px;
}

.logodetallesacuarela{
    margin-left: 40px;
}

.logodetallesacuarela, .logodetallesacuarelaFooter{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.icons {
    display: flex;
    justify-content: flex-end;
}

.iconsLogo img{
    border:none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.icons li{
    margin: auto 5px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}


/* AQUI INICIA CSS PARA NUESTRA HOME*/

#imageMain{
    background-image: url('/HTML/Imagenes/fondo2.jpg');
    background-size: cover;
}

.video h1{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom:30px auto;
}

.seccionprincipal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.diferenciales{
    width: 100%;
    margin: 0;
    display: grid;
    justify-content:flex-end;
}

.listaDiferenciales{
    vertical-align: bottom;
    width: 100%;
    display: inline-block;
}

.items{
    line-height: 5;
    font-size: 20px;
    padding-right: 50px;
    font-style: italic;
}

.items:before{
    content: "★";
}

.items:first-child{
    font-weight: bold;
}



/* .principal{

}

.video{
    width: 560px;
    margin: auto;
}

.tituloPrincipal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapaContenido{
    width: 940px;
    margin: 0 auto;
}

.imagenDiferenciales{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px black;
}

.imagenDiferenciales:hover{
    opacity: 0.3;
}



 */

/* AQUI INICIA CSS PARA NUESTRA PAGE CATALOGO*/


.mocaccino, .capuccino, .late{
    width: 160px;
    height: 250px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10%;
}

.productos{
    margin: 0 auto;
    padding: 50px;
    background-image: url('/Imagenes/fondo2.jpg');
    background-size: cover;
}
button {
    background-color: #e06a8d;
    border: none;
    color: rgb(8, 8, 8);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    background-color: #df8cf0;
  }
  

.productos li{
    display: inline-block;
    text-align: center;
    width: 29%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 60px;
    margin-bottom: 40px;
}

.productos li:hover{
    border-color: violet;
}


.productos li:active{
    border-color: aqua;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.productos img{
    image-resolution:unset;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(10, 146, 180);
    border-radius: 50%;
}

.productos img:hover{
    border-color: rgb(115, 10, 115);

}

.productos, li:hover h2{
    font-size: 33px;
}

.producto_descripcion{
    font-size: 18px;
}

.producto_precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}


/* AQUI INICIA CSS PARA NUESTRA PAGE NOSOTROS*/

.backgroundNosotros{
    background-image: url('/Imagenes/fondo2.jpg');    
    background-size: cover;
    
    
    
}

.Nosotros{
    display: grid;
    grid-template-columns: repeat(3fr, 1fr);
    text-align: center;
    padding: 20px 10px;
    
}



.Nosotros2 h1{    
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 23px;
}

.Nosotros2 p{
    text-align: center; 
    margin: 15px auto;
    font-style: italic;
    font-weight: bold;
}

article{
    margin:0 15px;
}

article h1{
    font-weight: bold;
    font-size: 20px;
    padding: 10px;    
}


article img{
    width: 200px;
    height: 200px;
    padding: 10px 10px;
    border-radius: 100%;
}

#one, #two, #three, #four{
    position: relative;
    cursor: pointer;
    border-image: repeat;
  }


.encargado_descripción{
    padding: 10px;
    font-style: oblique;
    font-weight:500;
}

.cargo{
    padding: 10px;
    font-weight: bolder;
    font-style: italic;

}

.Nosotros article:hover{
    border: 3px solid #7B91DF;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.Nosotros article:hover h1{
    font-size: 30px;
}

.Nosotros article:hover p{
    font-weight: bold;
}


/* AQUI INICIA CSS PARA NUESTRA PAGE CONTACTENOS*/

.contactenos{
    background-image: url('/Imagenes/fondo2.jpg');
    background-size: cover;
    transition: 3s;
}

/* <<<<<<< Updated upstream */
form{
    padding: 40px 200px;
}

/* MENU HAMBURGUESA */
/* >>>>>>> Stashed changes */

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.inputPadron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #7B91DF;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: rgba(100, 74, 192, 0.792);
    transform: scale(1.2);
    color: #000000d1;
}

/* AQUI INICIA CSS PARA NUESTRO DISEÑO RESPOSIVE*/

@media(max-width:480px){

        
    h1{
        text-align: center;
    }
    
    .caja, .principal, .backgroundNosotros, .mapaContenido, .contenidoDiferenciales, .video{
        width: auto;
    }

    .listaDiferenciales, .imagenDiferenciales{
        width: 100%;
    }
}

@media(min-width:480px){
header{
    width: auto;
}
h1{
    text-align: center;
}

.caja, .principal, .backgroundNosotros, .mapaContenido, .contenidoDiferenciales, .video{
    width: auto;
}

.listaDiferenciales, .imagenDiferenciales{
    width: 100%;
}
}

/* AQUI INICIA CSS PARA NUESTRO DISEÑO RESPOSIVE CATALOGO*/




@media (max-width: 768px) {

    header{
        flex-direction: column;

    }


    .productos li {
        width: calc(100% / 1);
        margin-bottom: 30px;
    }
    .productos img {
        max-width: 100%;
    }
}
/* Agrega estilos para dispositivos medianos */
@media (min-width: 768px) and (max-width: 992px) {
    .caja{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .productos li {
        width: calc(100% / 3);
        margin-bottom: 30px;
    }


}
/* Agrega estilos para dispositivos grandes */
@media (min-width: 992px) {
    .productos li {
        
        margin-bottom: 30px;
    }
}

/* AQUI INICIA CSS PARA NUESTRO DISEÑO RESPOSIVE NOSOTROS*/

.Nosotros2 {
    padding: 2em 5%;
  }
  
  .Biografia {
    width: 160px;
    height: 160px;
  }
  
  @media screen and (min-width: 768px) {
    .caja {
      display: flex;
      justify-content:flex-start;
      align-items: center;
     
    }
  
   
  
    .caja nav {
      flex: 1;
    }
  
    .Nosotros {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    .perfilJohan,
    .perfilMiguel,
    .perfilJenny {
      display: grid;
      flex: 0 0 calc(25% - 100%);
      margin: 2em ;
    }
}
