*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;    

}


/* AQUI INICIA CSS PARA NUESTRO HEADER*/

:root{
    --color_text-primary: #AB29CA;
    --color_text-secundary: #101E2C;
    --color-text-tertiary: #485663;
    --main_color-primary: #9a00bf;
    --main_color-secundary: #FAFBFE;
    --background-color: #FAFBFE;
    --lowText_font_size: 18px;
    --tex_size_title:40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0, 0, 0, 0.2);





    }

header{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #7B91DF 0%, rgba(242, 192, 201, 0) 100%);
    background-blend-mode: normal, darken;
    box-shadow: inset 0px 4px 4px rgba(255, 51, 252, 0.8);
    padding: 10px;
    width: 100%;
    height: 35%;   
    z-index: 100;
    padding-bottom: 40px;    
}


.container__header{
    max-width: 1200px; 
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}
header .container__header {
    display: block;
    position: absolute;
    top: 0;
    width: 100px; /* Ajustar el tamaño según sea necesario */
    margin: 10px; /* Ajustar el espaciado según sea necesario */
  }

.menu{
    display: flex;
    align-items: center;
}
.menu nav{
    margin: 0px 20px;
}
.menu nav{
    display: flex;
}
.menu nav ul li{
    list-style: none;
    margin: 20px 16px;
    
}

.menu nav ul li a{
    color: var(--color_text-secundary);
    font-size: var(--lowText_font_size);
    position: relative;

}
.menu nav ul li a:hover{
    color:var(--color_text-primary);

}

nav{
    position: absolute;
    top: 142px;
    right: 10px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/*portada de inicio*/

.container__cover{
    
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #d3c3d74d;

}
.cover{
    
    background-image: url('/HTML/Imagenes/fondo-formas-geometricas.jpg');
    background-size: cover;
    max-width: 1200px;        
    display: flex;
    align-items: center;
    padding: 20px 20px;


}

.text__cover{
    width: 100%;
    padding-right: 150px;

}
.text__cover h1{
    padding-top: 10%;
    font-size: 40px;
    color: var(--color_text-secundary);
    

}

.text__cover p{
    font-size: var(--text_paragraph);
    margin-top: 40px;
    color: var(--color_text-secundary);
    font-size: 19px;
    text-align: center;
}
.btn__text{
    text-decoration: dashed;
    display: block;
    width: 150px;
    margin-top: 40px;
    margin-left: 50%;
    padding: 20px 20px;
    text-align: center;
    font-weight: 1000;
    background: var(--main_color-primary);
    color: white;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
    


}
.btn__text:hover{
    background: transparent;
    border: 2px solid var(--main_color-primary);
    color: var(--color_text-primary);
    
}
.image__cover img {
    transition: transform 0.3s ease-out;
    
    

  }
  
 .image__cover img:hover {
    transform: matrix(0.7, -0.5, 0.5, 0.4, 0.5, 0.7);
  }
  
.image__cover img{
    width: 550px;
    border-radius: 13%;
    
}
.caja{
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;

}



/*Menu hamburguesa inicio*/

.bars__menu{
    z-index: 1;
    width: 30px;
    height: 30px;    
    position: absolute;
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 0, 0, 0);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
    
}

/*Menu hamburguesa FINAL*/






/*boton busqueda*/



  .search-box {
    padding: 10px;
    border: 2px solid #ccc;
    position: relative; /* Necesario para posicionar el borde animado */
  }
  
  /* Estilo para el borde animado */
  .search-box::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border: 3px solid rgb(166, 0, 255);
    animation: animacion-borde 1s infinite;
  }
  @keyframes animacion-borde {
    0% {
      border-width: 2px;
    }
    50% {
      border-width: 4px;
    }
    100% {
      border-width: 2px;
    }
  }
  
  
  
  
  .search-box input {
    flex: 1;
    border: none;
    padding: 11px;
    font-size: 1em;
  }
  
  #search-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  #search-btn:hover {
    background-color: #0a0a0a95;
  }
  
  #search-btn:active {
    background-color: #005cbf;
  }

  /*finaliza boton busqueda*/


  
  /*Empieza el css resgistro y login*/

  .regis-login{
      
  display: block;
  font-size: 30px;
  background-color: #f3f5f35f;
  border-radius: 5px;

}
.re{
    text-decoration: dashed;
    text-transform: uppercase;
    font-variant: small-caps;
    text-shadow: 4px 5px 5px #bac9cad2;
    font-weight: 1000;
}

.regis-login:hover{
    background-color: #d9c8fd45;
}

/*Finaliza el css resgistro y login*/




/* AQUI INICIA CSS PARA NUESTRO FOOTER*/

footer{
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #7B91DF 0%, rgba(242, 192, 201, 0) 100%);
    background-blend-mode: normal, darken;
    border: 1px solid #F2C0C9;
    box-shadow: inset 0px 4px 4px rgba(255, 51, 252, 0.8);
    padding: 40px;
}

.logodetallesacuarela{
    margin-left: 40px;
}

.logodetallesacuarela, .logodetallesacuarelaFooter{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.iconsLogo img:hover {
    filter: hue-rotate(20deg);
    transition: filter 0.5s ease-in-out;
  }
  
  .iconsLogo img:hover {
    transform: scale(2);
    transition: transform 0.3s ease-in-out;
  }
  
.icons {
    display: flex;
    justify-content: flex-end;
    
}

.iconsLogo img{
    border:none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.icons li{
    margin: auto 5px;
    margin-right: 2%;
}

.copyright{
    color: rgb(0, 0, 0);
    font-size: 13px;
    margin: 20px;
}


#imageMain{
    padding-bottom: 0%;
    background-image: url('/HTML/Imagenes/fondo2.jpg');
    background-size: cover;
    
}

.video h1{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom:30px auto;
}

.seccionprincipal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.diferenciales{
    width: 100%;
    margin: 0;
    display: grid;
    justify-content:flex-end;
}

.listaDiferenciales{
    vertical-align: bottom;
    width: 100%;
    display: inline-block;
}

.items{
    line-height: 5;
    font-size: 20px;
    padding-right: 50px;
    font-style: italic;
}

.items:before{
    content: "★";
}

.items:first-child{
    font-weight: bold;
}









.details {
  text-align: center;
}

.titulo-principal {
  font-size: 2em;
  margin: 0.5em 0;
  color: #333;
}

.personalizados {
  max-width: 100%;
  height: auto;
  margin-bottom: 1em;
}

#mision {
  font-style: italic;
  margin-bottom: 1em;
  color: #666;
}

.mapa {
  margin-top: 2em;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.mapa-contenido {
  padding: 2em;
}

.titulo-principal {
  font-size: 2em;
  margin: 0.5em 0;
  color: #333;
}

iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

.details {
    text-align: center;
    color: #101E2C;
    transform: translateY(80%);
    animation: slide-up 1s ease forwards;
  }
  
  .titulo-principal {
    border: 5px solid #939;
    padding: 15px  60px;
    border-radius: 16px;
    box-shadow: inset 0 0 15px #939, 0 0 30px #939;
    position: relative;
  }

.title-second{
    font-size: 30px;
    font-weight: 800;
    color: #222;
    letter-spacing: 3px;
    cursor: pointer;
    transition: 0.5s;
  }

.title-second:hover {
    color: #fff;
    text-shadow: 0 0 5px #993399,
    0 0 25px #993399,
    0 0 50px #993399,
    0 0 100px #993399;
  }
  
  .personalizados {
    padding-bottom: 1%;
    max-width: 40%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 7%;
  }
  
  #mision {
    font-style: italic;
    margin-bottom: 1em;
    color: #666;
  }  
  .titulo-principal {
    font-size: 2em;
    margin: 0.5em 0;
    color: #333;
    text-align: center;
  }
  
  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }     
  



/* AQUI INICIA CSS PARA NUESTRA PAGE CATALOGO*/

<div class="card__nombre">
        <img src="./Imagenes/organizador.jpeg" class="img2" alt="">
        <h1>CARPETA</h1>
        
    </div>
    <hr>
    <div class="card__descripcion">
        <h2>DESCRIPCION</h2>
        <br>
        <p class="Descripcion">Una carpeta archivadora de tamaño carta con tres anillos para organizar y almacenar papeles importantes, como facturas o informes de trabajo.</p>
        <p class="producto_precio"> $ 17.000</p>
    </div>
    <br>
    <div class="card__button">
        <a class="enlace" href="https://buy.stripe.com/test_5kA9AY8bqgGecdaeV0">Comprar</a>
    </div>
</div><div class="card__perfil">


/*


button {
    background-color: #e06a8d;
    border: none;
    color: rgb(8, 8, 8);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  button:hover {
    background-color: #df8cf0;
  }

.productos ul{
    display: grid;

}
  

.productos li{
    display: inline-flex;
    text-align: center;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 60px;
    margin-bottom: 40px;
}

.productos li:hover{
    border-color: violet;
}


.productos li:active{
    border-color: aqua;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.productos img{
    image-resolution:unset;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(10, 146, 180);
    border-radius: 50%;
}

.productos img:hover{
    border-color: rgb(115, 10, 115);

}

.productos, li:hover h2{
    font-size: 33px;
}

.producto_descripcion{
    font-size: 18px;
}

.producto_precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
*/

/* AQUI INICIA CSS PARA NUESTRA PAGE NOSOTROS*/

.backgroundNosotros{
    background-image: url('/Imagenes/fondo2.jpg');    
    background-size: cover;     
}


.Nosotros{
    display: grid;
    grid-template-columns: repeat(3fr, 1fr);
    text-align: center;
    padding: 20px 10px;
    
}
.card{
    padding-top: 10%;
    width: 100%;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card__perfil{
    width: 310px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgb(201, 201, 201);
    border: solid rgba(3, 133, 255, 0) 2px;
    border-radius: 10px;
}



/*EMPIEZA CATALOGO*/


.card__productos{
    width: 310px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgb(201, 201, 201);
    border: solid rgba(3, 133, 255, 0) 2px;
    border-radius: 10px;
}
.card__productos:hover{
    border: solid rgb(3, 133, 255) 2px;
}

.img2{
    image-resolution:unset;
    width: 250px;
    height: 250px;
    border: 5px solid rgb(10, 146, 180);
    border-radius: 50%;

}
.card__nombreprod{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.producto__precio{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: #2c2878e7;
    color: #fff;

}
.spaceprod {
    height: 4px;
    background-color: #9037c1;
    animation: pulse 1s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 0.2;
    }
  }
  .card__buttonprod{
    text-align: center;
    background-color: #e06a8d;
    border: none;
    color: rgb(8, 8, 8);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .card__buttonprod:hover {
    background-color: #df8cf0;
  }

.enlaceprod{
    padding: 8px 20px;
    color: white;
    text-decoration: none;
}
  
  


/*FINALIZA CATALOGO*/



.card__perfil:hover{
    border: solid rgb(3, 133, 255) 2px;
}
.card__perfil:hover img{
    transform: rotate(0);
}
.img1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    transform: rotate(-30deg);
    transition: all .3s;
}
.card__nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
hr{
    width: 100%;
    height: 4px;
    background: rgb(223, 221, 221);
    margin: 20px 5px;
}
.card__button{
    text-align: center;
}
.enlace{
    background: rgb(0, 110, 255);
    padding: 8px 20px;
    color: white;
    text-decoration: none;
}
.Descripcion{
    font-size: 20px;

}


.Nosotros2 h1{    
    text-align: center;
    padding: 40px;
    font-weight: bold;
    font-size: 23px;
}

.Nosotros2 p{
    text-align: center; 
    margin: 15px auto;
    font-style: italic;
    font-weight: bold;
}

article{
    margin:0 15px;
}

article h1{
    font-weight: bold;
    font-size: 20px;
    padding: 10px;    
}


article img{
    width: 200px;
    height: 200px;
    padding: 10px 10px;
    border-radius: 100%;
}

#one, #two, #three, #four{
    position: relative;
    cursor: pointer;
    border-image: repeat;
  }


.encargado_descripción{
    padding: 10px;
    font-style: oblique;
    font-weight:500;
}

.cargo{
    padding: 10px;
    font-weight: bolder;
    font-style: italic;

}

.Nosotros article:hover{
    border: 3px solid #7B91DF;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.Nosotros article:hover h1{
    font-size: 30px;
}

.Nosotros article:hover p{
    font-weight: bold;
}


/* AQUI INICIA CSS PARA NUESTRA PAGE CONTACTENOS*/

.contactenos{
    background-image: url('/Imagenes/fondo2.jpg');
    background-size: cover;
    transition: 3s;
    
}

/* <<<<<<< Updated upstream */
form{
    padding-top: 100px;
    padding-left: 20%;
    display: block;
    
}


/* MENU HAMBURGUESA */
/* >>>>>>> Stashed changes */

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.inputPadron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #7B91DF;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: rgba(100, 74, 192, 0.792);
    transform: scale(1.2);
    color: #000000d1;
}

/* AQUI INICIA CSS PARA NUESTRO DISEÑO RESPOSIVE*/
@media screen and (max-width: 570px){
    header {
        width: auto;
        padding-bottom: 150px;
    }
    
      .menu {
        position: absolute;
        padding-top: 25%;
        padding-left: 90%;     
      }
      .navhamburguesa{
        position: absolute;
        top: 90px;
        right: 10px;
    }  

    }
    
@media (max-width: 480px) {
    header {
        width: auto;
        padding-bottom: 100px;
    }

    h1 {
        text-align: center;
    }

    .principal, .backgroundNosotros, .mapaContenido, .contenidoDiferenciales, .video {
        width: auto;
    }

    .listaDiferenciales, .imagenDiferenciales {
        width: 100%;
    }
    .menu {
        position: absolute;
        padding-top: 40%;
        padding-left: 90%;      
  
      }
       

    
}
@media  (max-width: 768px) {
    .bars__menu{
        z-index: 1;
        width: 30px;
        height: 30px;    
        position: absolute;
        top: 35%;
        left: 90%;
        transform: translate(-50%, -50%);
        cursor: pointer;        
}

    .regis-login{

    display: block;
    font-size: 20px;
    background-color: #f3f5f35f;
    border-radius: 5px;
  }

  .search-box {
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    
  }
@media screen and (max-width: 768px) {
    
    .menu nav {
      display: none;
    }
    .menu {
      position: absolute;
      padding-top: 25%;
      padding-left: 90%;
      

    }
    .bars__menu {
      padding-top: 17px;
    }

    .bars__menu span {
      background-color: var(--color_text-secundary);
    }
    
    .menu.open nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--color_background-primary);
      padding: 20px;
      box-sizing: border-box;
    }
    .menu.open nav ul li {
      margin: 10px 0;
    }
  }
  
    
}
@media (min-width: 768px) {
    .caja {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .productos li {
        margin-bottom: 30px;
    }

    .productos img {
        max-width: 100%;
    }

    .Nosotros2 {
        padding: 2em 5%;
    }

    .Biografia {
        width: 160px;
        height: 160px;
    }
  
    @media (max-width: 992px) {
        .productos li {
            width: calc(100% / 3);
        }      

    }

    

    @media (min-width: 768px) {

            .Nosotros {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        }
}





